In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [140]:
data = pd.read_csv("crash_data_2022-06-12.csv")

In [141]:
data.columns

Index(['odd', 'players', 'prize_pool', 'duration', 'time_span'], dtype='object')

In [142]:
data['odd'][0]

'odd'

In [143]:
data['odd'][0].replace("X\n", " ").split()[0]

'odd'

In [144]:
for i in range(len(data['odd'])):
    data['odd'][i]= data['odd'][i].replace("X\n", " ").split()[0]

In [145]:
data['odd']

0       odd
1       odd
2       odd
3       odd
4       odd
       ...
346    3.65
347    8.02
348    9.20
349    1.40
350    3.08
Name: odd, Length: 351, dtype: object

In [146]:
data['odd'].describe()

count      351
unique     211
top       1.00
freq        22
Name: odd, dtype: object

In [147]:
data.describe()

         odd  players  prize_pool  duration  time_span
count    351      351         351         6        351
unique   211      307         343         1        346
top     1.00  players  prize_pool  duration  time_span
freq      22        6           6         6          6

In [148]:
data.head()

   odd  players  prize_pool  duration  time_span
0  odd  players  prize_pool  duration  time_span
1  odd  players  prize_pool  duration  time_span
2  odd  players  prize_pool  duration  time_span
3  odd  players  prize_pool  duration  time_span
4  odd  players  prize_pool  duration  time_span

In [149]:
data['players']

0                             players
1                             players
2                             players
3                             players
4                             players
                    ...
346    2665 players placed their bets
347    2850 players placed their bets
348    1896 players placed their bets
349    2215 players placed their bets
350    1609 players placed their bets
Name: players, Length: 351, dtype: object

In [150]:
for each in range(len(data['players'])):
    data['players'][each] = data['players'][each].split()[0]

In [151]:
data.head()

   odd  players  prize_pool  duration  time_span
0  odd  players  prize_pool  duration  time_span
1  odd  players  prize_pool  duration  time_span
2  odd  players  prize_pool  duration  time_span
3  odd  players  prize_pool  duration  time_span
4  odd  players  prize_pool  duration  time_span

In [152]:
for each in range(len(data['prize_pool'])):
    data['prize_pool'][each] = data['prize_pool'][each][2:]

In [153]:
for each in range(len(data['duration'])):
    data['duration'][each] = data['time_span'][each]

In [154]:
for each in range(len(data['odd'])):
    try:
        data['odd'][each] = float(data['odd'][each])
        data['players'][each] = int(data['players'][each])
        data['prize_pool'][each] = float(data['prize_pool'][each])
        data['duration'][each] = float(data['duration'][each])

    except:
        print('lol')

lol
lol
lol
lol
lol
lol

In [155]:
type(data['duration'][0])

str

In [156]:
data.drop('time_span', axis=1, inplace = True)

In [157]:
#data.drop(8, inplace=True)

In [170]:
data.to_csv('out5.csv', index=False)